<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.de" version="6.2.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.3.2" targetFramework="net48" />
  <package id="NLog.Config" version="4.7.15" targetFramework="net48" />
  <package id="NLog.Schema" version="5.3.2" targetFramework="net48" />
  <package id="NuxeoClient" version="1.0.0-beta-27220" targetFramework="net48" />
</packages>